{% extends "base_template.html" %}
{% block main %}
    <header class="intro-header" style="background-image: url('static/img/IMG_20160706_160822.jpg'); height:850px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Who I am.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

            <div class="container">

            <div class="row">
            <div class="col-md-4 col-md-offset-2">
            <h1>Hi There...</h1>
                </div>
            </div>
            <br>
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>I'm Simon, a full stack developer with a keen interest in science, maths, <a href="/software_portfolio">programming</a> and <a href="/karate">karate</a>.</h3>
            </div>
            <!--<div class="col-md-4 col-md-offset-1">-->
                <!--<img src="/static/logos/10445947_10203158618059895_5424896344316164692_n.jpg" class="img-responsive">-->
                <!--</div>-->
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-md-4 col-md-offset-2">
            <h1>About Me</h1>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-md-4 col-md-offset-2">
            <h3>Education and Experience</h3>
                <br>
                <p>In 2014 I graduated with a second class honours degree in Physics with Astronomy at Dublin City University.
                Proceeding this, I decided to pursue a postgraduate Higher Diploma in Computer Science from Dublin Business School,
                which I was awarded a first class honours for. I am now currently working as a software engineer for a company called Alkimii,
                building web applications in Python Flask and Ruby on Rails. I have also recently passed the AWS developer associate exam and am AWS certified
                    (this given site is in fact configured on an AWS EC2 instance connected to a MySQL RDS database).
                </p>
                </div>
                <br>
                <br>
                <br>
            <div class="col-md-4">
                <img src="/static/logos/college_work_logos.png" class="img-responsive">
                <img src="/static/img/url.png" class="img-responsive">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
            <h3>Interests</h3><br>
                <div class="view">
            <blockquote contenteditable="true">
            <p>“I do not think there is any thrill that can go through the human heart like that felt by the inventor as he
                    sees some creation of the brain unfolding to success . . .
                    Such emotions make a man forget food, sleep, friends, love, everything.”</p>
            <small>Nikola Tesla.</small>
            </blockquote>
            </div>

                <br>
                <p>From a young age, I've always been interested in problem solving and the sciences which is why
                I decided to pursue a degree in Physics with Astronomy. Although I found the study of the universe awe inspiring (and still do!)
                the required focus and discipline as well as the satisfaction of resulting success in mathematical and programming
                    modules taught in the degree really appealed to me. Due to this, upon completion of my BSc, I decided to pursue
                    further studies into computer science which has landed me in the magical world of software development.</p>
                <br>
                <div class="view">
                    <blockquote contenteditable="true">
                    <p>“Most good programmers do programming not because they expect to get paid or get adulation by the public,
                        but because  it is fun to program”</p>
                    <small>Linus Torvalds.</small>
                    </blockquote>
                </div>
                <p>There's been many times in both my academic and working life that I've been thrown into the deep end with regards to both engineering and building
                    systems in technologies I wasn't comfortable/experienced with, but as a result, increased my ability to self learn dramatically as well as gave me the determination
                    and a "whatever it takes" attitude to get things over the line on time. I thoroughly enjoy and invite being taken out of my comfort zone with projects because, aside from
                    the sheer enjoyment of trying to figure things out, I know it will help improve my skillset further.</p>
            <div class="col-md-1">

                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                <h3>Coding and IT Experience</h3>
                <br>
                <p>
                    Although the fundamentals of programming was obtained in college (both in my undergraduate and postgraduate courses),
                    the majority of my skill set has been self-taught through work and independent projects. I am proficient in numerous technologies, having
                    built <a href="/software_portfolio">projects</a> using the following:
                </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-3">
                <h4>Programming Languages (back end):</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <ul>
                            <li>Python</li>
                            <li>Ruby</li>
                            <li>Matlab</li>
                            <li>C#</li>
                            <li>C++</li>
                        </ul>
                    </div>
                </div>
                <h4>Programming Languages (front end):</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                </ul>
                    </div>
                    </div>
                <h4>Databases:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>MSSQL</li>
                    <li>MySQL</li>
                    <li>Postgres</li>
                </ul>
                    </div>
                    </div>
                <h4>ORM's:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>SQLAlchemy</li>
                    <li>Active Record</li>
                    <li>LINQ</li>
                </ul>
                    </div>
                    </div>
                <h4>Frameworks:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>Flask (Python)</li>
                    <li>Rails (Ruby)</li>
                    <li>ASP (C#)</li>
                </ul>
                    </div>
                    </div>
                <h4>Testing:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>Unit testing (Python/Ruby)</li>
                    <li>Selenium testing (Python)</li>
                </ul>
                    </div>
                    </div>
                <h4>Version Control:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>Github</li>
                    <li>Bitbucket</li>
                </ul>
                    </div>
                    </div>
                <h4>Cloud Technologies:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>AWS</li>
                </ul>
                    </div>
                    </div>
                <h4>Development Environemnts:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>PyCharm</li>
                    <li>Visual Studio</li>
                    <li>Sublime Text 3</li>
                    <li>Atom</li>
                    <li>Vim</li>
                    <li>Matlab</li>
                    <li>SQL Server Management Studio</li>
                    <li>MySQL workbench</li>
                </ul>
                    </div>
                    </div>
                <h4>Methodologies:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>Agile Software Development</li>
                </ul>
                    </div>
                    </div>
                <h4>Project Planning Tools:</h4>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <ul>
                    <li>Trello</li>
                    <li>Meister Task</li>
                </ul>
                    </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    I've also conducted data analysis on black holes and binary start systems using NASA's Science Analysis Software and ESA's StudyLC.
                </div>
            </div>

            </div>
        </div>

{% endblock %}

