{% extends "base_template.html" %}
{% block main %}

<div class="row">
    <div class="col-md-4 col-md-offset-2">
    <h1>Hi There...</h1>
        </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <p>I'm Simon, a physics and computer science graduate with a keen interest in maths, programming and all things techy.</p>
        </div>
    <!--<div class="col-md-4 col-md-offset-1">-->
        <!--<img src="/static/logos/10445947_10203158618059895_5424896344316164692_n.jpg" class="img-responsive">-->
        <!--</div>-->
</div>
</br>
</br>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
    <h1>About Me</h1>
        </div>
</div>
</br>
</br>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
    <h3>Education and Experience</h3>
        </br>
        <p>In 2014 I graduated with a second class honours degree in Physics with Astronomy at Dublin City University.
        Proceeding this, I decided to pursue a postgraduate Higher Diploma in Computer Science from Dublin Business School,
        which I was awarded a first class honours for. I am now currently working as a software engineer for a company called Alkimii,
        building web applications in the Python Flask environment.
    </p>
        </div>
    <div class="col-md-4">
        <img src="/static/logos/college_work_logos.png" class="img-responsive">
        </div>
</div>
</br>
</br>
<div class="row">
    <!--<div class="col-md-4 col-md-offset-2">-->
        <!--<img src="/static/logos/Snip20160215_13.png" class="img-responsive">-->
    <!--</div>-->
    <div class="col-md-8 col-md-offset-2">
    <h3>Interests</h3>
    </br>
        <p>“I do not think there is any thrill that can go through the human heart like that felt by the inventor as he
            sees some creation of the brain unfolding to success . . .
            Such emotions make a man forget food, sleep, friends, love, everything.”~ Nikola Tesla.</p>
        </br>
        <p>From a young age, I've always been interested in problem solving and the sciences which is why
        I decided to pursue a degree in Physics with Astronomy. Although I found the study of the universe awe inspiring (and still do!)
        the required focus and discipline as well as the satisfaction of resulting success in mathematical and programming
            modules taught in the degree really appealed to me. Due to this, upon completion of my BSc, I decided to pursue
            further studies into the coding industry.</p>
        </br>
        <p>
            Aside from my passion for problem solving, I've also been a keen practitioner of karate for the last 20 years.
            Achieving a grade of 1st dan black belt in two styles of karate and also competing in many competitions both
            nationally and internationally. The discipline, focus and perseverance required in karate have shaped my work ethic and
            who I am as a person.
        </p>
        </br>
        <p>
            "The ultimate aim of karate lies not in victory or defeat, but in the perfection of the character of its participants"
            ~ Gichin Funakoshi, founder of Shotokan karate
        </p>
    </div>
    <div class="col-md-1">

        </div>
</div>
</br>
</br>
<div class="row">
        <div class="col-md-8 col-md-offset-2">
        <h3>Coding and IT Experience</h3>
        </br>
        <p>
            Although the fundamentals of programming was obtained in college (both in my undergraduate and postgraduate courses),
            the majority of my skill set has been self-taught. I am proficient in numerous languages, having
            built <a href="/projects">projects</a> in the following technologies:
        </p>
        </div>
</div>
</br>
<div class="row">
        <div class="col-md-2 col-md-offset-3">
        <ul>
            <li>Python</li>
            <li>HTML5</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>SQL</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>Shell Scripting</li>
            <li>C#</li>
            <li>ASP</li>
            <li>LINQ</li>
            <li>Matlab</li>
            <li>C++</li>
        </ul>
        </div>
    <div class="col-md-4">
        <img src="/static/logos/Snip20160215_20.png" class="img-responsive">
    </div>
    </div>


{% endblock %}