{% extends "base_template.html" %}
{% block main %}
    <header class="intro-header" style="background-image: url('static/img/karate.jpg'); height:850px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Karate</h1>
                        <hr class="small">
                        <span class="subheading">This is where I grow.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

            <div class="container">

                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <h1>Hi There...</h1>
                    </div>
                </div>

            </div>
{% endblock %}

