{% extends "base_template.html" %}
{% block main %}
    <header class="intro-header" style="background-image: url('static/img/karate.jpg'); height:850px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Sports</h1>
                        <hr class="small">
                        <span class="subheading">Where I grow.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                    <h1>Karate</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>
                            At the age of five my sole purpose in life was to become a Power Ranger - so when a local karate club opened I felt it was my calling...
                        </p>
                        <br>
                        <h3>Way of the Empty Hand</h3>
                        <p>
                            Karate was brought to Japan in the early 20th century by Gichin Funakoshi. Starting off as means of self defence for people to
                            protect themselves against bandits and invaders in Okinawa it has grown dramtically into an Olympic recognised competitve sport.
                        </p>
                        <p>
                            Aside from Karate being the popular sport it is today, it primarily is a martial art with the aim being to achieve mastery over the human body and mind
                            through hard work and dedication.
                        </p>
                        <div class="view">
                            <blockquote contenteditable="true">
                            <p>"The ultimate aim of karate lies not in victory or defeat, but in the perfection of the character of its participants"</p>
                              <small>Gichin Funakoshi, founder of Shotokan karate</small>
                            </blockquote>
                        </div>
                        <br>
                        <h3>Qualifications and Sporting Achievements</h3>
                        <p>
                            Although I sadly didn't become a Power Ranger, Karate has still been a big part of my life and has shaped me hugely as a person. My persaviverance, hard work and
                            dedication is attributed to my training, and are applied to all aspects of my life especially programming.
                            Over the past twenty years I've received two blacks in two different styles and competed in multiple national and international (both at world and european level) competitions.
                        </p>
                        <br>
                        <iframe width="750" height="430" src="https://www.youtube.com/embed/v2VHW9CDMug" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
{% endblock %}

