<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simon Melouah</title>

    <link rel="icon" type="image/png" href="/static/img/favicon.jpg" sizes="96x96">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/clean-blog.min.css" rel="stylesheet">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home">Simon Melouah</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/software-portfolio">Software Portfolio</a>
                    </li>
                    <li>
                        <a href="/sports">Sports</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<header class="intro-header" style="background-image: url('static/img/madeira.jpg'); height:1050px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Home</h1>
                        <hr class="small">
                        <span class="subheading">Welcome to my space.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    </body>
   <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a target="_blank" href="https://twitter.com/Singbomb">
                                <img src="static/logos/twitter-logo-button.png" >
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/simon-melouah-211150a1?trk=hp-identity-name">
                                <img src="static/logos/linkedin-logo.png">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/simonmelouah">
                                <img src="static/logos/github-logo.png">
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; simonmelouah.com 2016</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/clean-blog.min.js"></script>

    <script src="static/js/my_site.js"></script>

</html>
