{% extends "base_template.html" %}
{% block main %}
<div class="jumbotron" style="background-image: url(/static/logos/equations.png);">

    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a href='/about' name="about">Who I Am</a></li>
                    <li role="presentation"><a href='/projects' name="projects">Projects</a></li>
                    <li role="presentation"><a href='/blog' name="blog">Blog</a></li>
                    <li role="presentation"><a href='/contact' name="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

<div class="row">
    <div class="col-md-4 col-md-offset-2">
    <h1>Things I've worked on...</h1>
        </div>
</div>
        <br/>
        <div class="row">
    <div class="col-md-6 col-md-offset-3">
{% for i in list_of_projects %}
<div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title" style="font-weight: bold;">{{ i.title }} ({{ i.category }})</h1>
      </div>
      <div class="panel-body">
        <div class="row">
        <div class="col-md-3">
            <img src="{{ i.image }}" style="width: 100px; height: 100px">
          </div>
            <div class="col-md-8">
                <p>{{ i.description }}</p>
                <br/>
                {% if i.url %}
                <a href="{{ i.url }}" class="btn btn-primary">Github/Bitbucket</a>
                {% else %}
                <a href="" class="btn btn-primary" disabled>Private Repository</a>
                {% endif %}
                &nbsp&nbsp
                {% if i.youtube %}
                <a href="{{ i.youtube }}" class="btn btn-success">Youtube</a>
                {% else %}
                <a href="" class="btn btn-success" disabled>Youtube</a>
                {% endif %}
          </div>
    </div>
    </div>
    </div>
{% endfor %}
    </div>

</div>
        </div>
{% endblock %}